body{
    background-color: lightgray;
}

ul{
	list-style-type: none;	
	width: 100%;
	margin: 5px;
	padding: 15px;
	text-align: center;
	font-family: 'Cormorant Garamond', serif;
	overflow: hidden;
}

li{
	float: none;
	font-size: 25px;
}

li a{
	display: inline-block;
	color: black;
	float: left;
	text-align: center;
	padding: 15px;
	width: 20%;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

li a:hover{
	background-color: lightblue;
}

h1{
	text-align: center;
	font-size: 60px;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}