body{
    background-image: linear-gradient(lightgrey, white);
	background-size: cover;
	height: 100%;
}

*{
	box-sizing: border-box;
}

header{
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	font-size: 70px;
}

ul{
	list-style-type: none;	
	width: 100%;
	margin: 5px;
	padding: 15px;
	text-align: center;
	overflow: hidden;
}

li{
	float: none;
	font-size: 25px;
	font-family: 'Orbitron', sans-serif;
}

li a{
	display: inline-block;
	color: black;
	float: left;
	text-align: center;
	padding: 14px 16px;
	width: 25%;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

li a:hover{
	background-color: darkgray;
}

h1{
	text-align: center;
	font-size: 60px;
	font-family: 'Orbitron', sans-serif;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

img{
	outline: 2px solid black;
	margin-bottom: 35px;
}

.button{
	text-align: center;
	border: 2px solid black;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	padding: 15px 32px;
	font-family: 'Orbitron', sans-serif;
}

footer{
	margin-top: 15px;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-size: 20px;
}

form{
	font-family: 'Orbitron', sans-serif;
}

main{
	font-family: 'Orbitron', sans-serif;
}
