<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="About.css" type="text/css" />
        
        <!--Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">
        
        <!--w3school Social Media-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    <body>
        
        <header>About</header>
         <!--nav bar-->
        <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Exercises', controller: 'exercises' %></li>
            <li><%= link_to 'About', welcome_about_path %></li>
            <li><%= link_to 'Routines', routines_generate_path %></li>
        </ul>

            <p>
                For those who love to go to the gym, you're wasting your time.
                Use our awesome website where we have workouts that can be done 
                at home with no need of buying equipment!
                
                We started this website to make it easy for people who are lazy,
                and don't want to drive to the gym for reasons.
            </p>
            
            <p>Below is an image of what we hope people want to look like. Drawn by our
            own team member, Cade Mack. Hope you understand the concept.</p>
            
            <img src="GG.png" class = "center"></img>
        
        <footer>
            <div class = "row">
                <a href="https://www.facebook.com/" class="fa fa-facebook" target = "_blank"></a>
                <a href="https://twitter.com/explore" class="fa fa-twitter" target = "_blank"></a>
                <a href="https://www.youtube.com/" class="fa fa-youtube" target = "_blank"></a>
                <a href="https://www.instagram.com/" class="fa fa-instagram" target = "_blank"></a>
            </div>
        </footer>
    </body>
</html>
