<!DOCTYPE html>
<htl>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="HomePage.css" type="text/css" />
       
        <!--w3school & bootstrap-->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        
        <!--Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <h1>Gourmet Gains</h1>
        
        <!--nav bar-->
        <ul>
            <li>Links not implemented yet</li>
            <li><%= link_to 'Exercises', controller: 'exercises' %></li>
            <li><a href = "Workout.html"> Workout </a></li>
            <li><a href = "About.html"> About </a></li>
            <li><a href = "Login.html"> Login </a></li>
        </ul>
        
        
        
        <img src= "bro.jpg" alt = "dude" class = "center"></img>
                
    </body>
    
</html>