<!DOCTYPE html>
<htl>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="HomePage.css" type="text/css" />
       
        <!--w3school & bootstrap-->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        
        <!--Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <h1>Gourmet Gains</h1>
        
        <!--nav bar-->
        <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Exercises', controller: 'exercises' %></li>
            <li><%= link_to 'About', welcome_about_path %></li>
            <li><%= link_to 'Routines', routines_generate_path %></li>
        </ul>
        
        
        
        <img src= "bro.jpg" alt = "dude" class = "center"></img>
        
         <!---->
        <h1>Workout from the comfort of your own home!</h1>
        <hr>
        <h3>As well as staying safe and healthy from COVID-19. Wash your hands!</h3>
        
        <h2>Stretches | Warm-Ups</h2>
        
        <!--Place 3 iframes side by side-->
        <!--Stretches | Warm-Ups-->
        <div class = "projects-wrapper">
            <div class = "proj-box-format">
                <iframe width="660" height="315" src="https://www.youtube.com/embed/SV7l1sfEmO0" frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen align = "middle" seamless target = "_blank"></iframe>
            </div>
            
            <div class = "proj-box-format">
                <iframe width="660" height="315" src="https://www.youtube.com/embed/Ks-lKvKQ8f4" frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen align = "middle" seamless target = "_blank"></iframe>
            </div>
            
            <div class = "proj-box-format">
                <iframe width="660" height="315" src="https://www.youtube.com/embed/sTxC3J3gQEU" frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen align = "middle" seamless target = "_blank"></iframe>
            </div>
            
            
        <!--Chest Workout-->
        <h2>Chest Workout</h2>
        
            <div class = "proj-box-format">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BkS1-El_WlE" frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen align = "middle" seamless target = "_blank"></iframe>
            </div>
            
            <div class = "proj-box-format">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/DGzY0orIi7Q" frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen align = "middle" seamless target = "_blank"></iframe>
            </div>
            
            <div class = "proj-box-format">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_q_-adYzkh0" frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen seamless target = "_blank"></iframe>

            </div>
        </div>
                
    </body>
    
</html>